@import "../common.less";
@import "../theme";

/* Album container settings */
@album-container-width: 13rem;
@album-container-height: 15rem;

/* Delete album button */
@album-delete-button-size: 2rem;
@album-delete-button-radius: 1rem;

/* Rename album button */
@album-rename-button-size: 2rem;
@album-rename-button-radius: 1rem;

/* Size toolbar */
@toolbar-height: 3rem;

/* Link to full albums on hover */
.album-link-full {
  text-decoration: none;
}

/* Container with one albums */
.album-container {
  position: relative;

  border: @border-width-thick @border-type-common-solid @color-album-container-border;
  border-radius: @border-radius-normal;
  width: @album-container-width;
  height: @album-container-height;
}

/* Album content layer */
.album-content-layer {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1000;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;

  width: 100%;
  height: 100%;
}

/* Album upper part (for photos) */
.album-upper-part {
  flex: 100%;
  padding: @padding-normal;
}

/* Album square lower part */
.album-lower-part {
  background: @color-album-info-background;

  height: min-content;

  padding: @padding-normal;
}

/* Text with albums name */
.album-name {
  color: @color-text-inverted;
  text-align: center;
  font-weight: @font-boldness-bold;
}

/* Album creation date */
.album-creation-date {
  color: @color-text-inverted;

  font-size: @album-creation-date-font-size;
}

/* Album toolbar layer */
.album-toolbar-layer {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1050;

  width: 100%;
  height: @toolbar-height;

  background: hsla(233, 100%, 50%, 0.5);
}

/* Album toolbar */
.album-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  gap: @gap-normal;

  height: 100%;

  margin-left: @margin-normal;
  margin-right: @margin-normal;
}

/* Album toolbar - delete button */
.album-toolbar-delete-button {
  width: @album-delete-button-size;
  height: @album-delete-button-size;

  border-radius: @album-delete-button-radius;

  cursor: pointer;
}

/* Album toolbar - rename button */
.album-toolbar-rename-button {
  width: @album-rename-button-size;
  height: @album-rename-button-size;

  border-radius: @album-rename-button-radius;

  cursor: pointer;
}