@import "../common.less";

@color-album-link-hover: hsl(240, 100%, 50%);
@color-album-container-border: hsl(221, 47%, 43%);
@color-album-info-background: hsl(240, 100%, 27%);

@album-container-width: 15rem;
@album-container-height: 15rem;

@album-font-size: 0.8rem;

/* Link to full albums on hover */
.album-link-full {
  color: @color-album-link-hover;

  text-decoration: none;
}

/* Container with one albums */
.album-container {
  position: relative;

  border: @border-width-thick @border-type-common @color-album-container-border;
  border-radius: @border-radius-normal;
  width: @album-container-width;
  height: @album-container-height;
}

/* Album content layer */
.album-content-layer {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1000;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;

  width: 100%;
  height: 100%;
}

/* Album toolbar layer */
.album-toolbar-layer {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1050;

  width: 100%;
  height: 5rem; /* TODO: Set me and put to variable */

  background: hsla(231, 100%, 50%, 0.7);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  gap: 1rem;
}

/* Album upper part (for photos) */
.album-upper-part {
  flex: 100%;
  padding: @padding-normal;
}

/* Album square lower part */
.album-lower-part {
  background: @color-album-info-background;

  height: min-content;

  padding: @padding-normal;
}

/* Text with albums name */
.album-name {
  color: @color-album-text;
  text-align: center;
  font-weight: bold;
}

/* Album creation date */
.album-creation-date {
  color: @color-album-text;

  font-size: @album-font-size;
}