@import "../common.less";
@import "../theme";

@new-album-image-size: 4.0rem;

@new-album-form-indentation: 0.2rem;

@new-album-buttom-width: 8rem;
@new-album-buttom-height: 8rem;

.add-action-button {
  border: @border-width-thick @border-type-common-solid @new-album-color-bottom;
  border-radius: @border-radius-normal;
  width: @new-album-buttom-width;
  height: @new-album-buttom-height;
  .mixin-flex-vertically-and-horizontally-centered();
  cursor: pointer;

  transition: transform @image-animation-time ease, box-shadow @image-animation-time ease;
}

.add-action-button:hover {
  transform: scale(@image-increase);
  box-shadow: @image-hover-shadow-x @image-hover-shadow-y @image-hover-shadow-blur-radius @thumbnail-hover-shadow-color;
  transition: transform @image-animation-time ease, box-shadow @image-animation-time ease;
}

/* New album bottom image */
.new-album-button-image {
  width: @new-album-image-size;
  height: @new-album-image-size;
}

.add-action-button-container {
  .mixin-flex-vertically-and-horizontally-centered();
}

/* New album form button container */
.new-album-form-button-container {
  padding: @new-album-form-indentation;
}

/* For function buttons in a form */
.new-album-form-buttons {
  margin: @new-album-form-indentation;
}

.add-new-album-form {
  .mixin-flex-vertically-and-horizontally-centered();
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;

  .mixin-universal-form();
}

.add-menu-form {
  .mixin-flex-vertically-and-horizontally-centered();
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;

  .mixin-universal-form();
}