@import "../common.less";

@new-album-color-bottom: hsl(219, 67%, 66%);

@new-album-image-size: 4.0rem;

@new-album-form-indentation: 0.2rem;

@new-album-buttom-width: 10rem;
@new-album-buttom-height: 10rem;

@new-album-form-container-width: 15rem;
@new-album-form-container-height: 10rem;

.new-album-button {
  border: @border-width-thick @border-type-common @new-album-color-bottom;
  border-radius: @border-radius-normal;
  width: @new-album-buttom-width;
  height: @new-album-buttom-height;
  .mixin-flex-vertically-and-horizontally-centered();
  cursor: pointer;
}

/* New album bottom image */
.new-album-button-image {
  width: @new-album-image-size;
  height: @new-album-image-size;
}

.new-album-button-container {
  .mixin-flex-vertically-and-horizontally-centered();
}

/* Container with one albums */
.new-album-add-new-album-form {
  .mixin-flex-vertically-and-horizontally-centered();
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;

  border: @border-width-thick @border-type-common aqua;
  border-radius: @border-radius-normal;
  width: @new-album-form-container-width;
  height: @new-album-form-container-height;
  background-color: white;
}

.new-album-form-button-container {
  padding: @new-album-form-indentation;
}

/* For function buttons in a form */
.new-album-form-buttons {
  margin: @new-album-form-indentation;
}