/* Colors */
@page-background-color: hsl(218, 100%, 62%);

/* Text colors */
@main-text-color: hsl(217, 100%, 90%);

@loading-symbol-size: 1.0rem;

@text-info: 0.9rem;

/* Margins */
@margin-normal: 0.5rem;

/* Paddings */

body {
  background-color: @page-background-color;

  color: @page-background-color;
}

.header {
  color: @main-text-color;
}

.centered {
  justify-content: center;
  align-items: center;
}

.text-centered {
  text-align: center;
}

/* Loading symbol image */
.loading-symbol-image {
  width: @loading-symbol-size;
  height: @loading-symbol-size;
}

.info-version {
  color: @main-text-color;
  font-size: @text-info;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: @margin-normal;
}

.flex-container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
