@page-background-color-1: hsl(217, 100%, 62%);
@page-background-color-2: hsl(417, 100%, 62%);
@page-background-color-3: hsl(117, 100%, 62%);

body {
  background-color: @page-background-color-1;

  color: @page-background-color-1;
}

.test-background-color {
  background-color: @page-background-color-1;
}

.test-background-color-n-super {
  background-color: @page-background-color-2;
}

.test-background-color-n-super-mega-gigachad {
  background-color: @page-background-color-3;
}