@import "../common";
@import "../theme";

/* Main Container */
.popup-text-input-content {
  .mixin-flex-vertically-and-horizontally-centered();
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;

  border: @border-width-thick @border-type-common-solid @popupInputText-color-border;
  border-radius: @border-radius-normal;
  background-color: @standard-background-color;

  .mixin-padding-small-left-right-bottom();
}
