/* Colors */
/* Text colors */
/* Link colors */
/* Table colors */
/* Text size */
/* Text boldness */
/* Margins */
/*
@margin-large: ;
@margin-xlarge: ;
@margin-xxlarge: ;
@margin-xxxlarge: ;
@margin-huge: ;
@margin-xxhuge: ;
@margin-max: ;*/
/* End margins */
/* Paddings */
/* End paddings */
/* Borders */
/* End borders */
/* Gaps */
/* End gaps */
/* Images */
/* Mixins */
/* Centered flex (vertically and horizontally) */
.mixin-flex-vertically-and-horizontally-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Mixin for indentation everywhere except the top */
.mixin-padding-small-left-right-bottom {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.4rem;
}
.mixin-table-borders {
  border: 0.1rem solid hsl(0, 0%, 0%);
  padding: 0.4rem;
}
/* Centered item */
.flex-vertically-and-horizontally-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End of mixins */
/* Text centered */
.text-centered {
  text-align: center;
}
/* Container with header */
.link {
  margin-bottom: 0.2rem;
  padding-bottom: 0.2rem;
  color: hsl(240, 100%, 50%);
}
/* Container with header */
.link:visited {
  margin-bottom: 0.2rem;
  padding-bottom: 0.2rem;
  color: hsl(240, 100%, 50%);
}
/* Container with header */
.link:active {
  margin-bottom: 0.2rem;
  padding-bottom: 0.2rem;
  color: hsl(240, 100%, 50%);
}
/* link not important */
.link-not-important {
  color: hsl(0, 0%, 56%);
  font-size: 0.9rem;
}
/* link not important:hover */
.link-not-important:hover {
  color: hsl(219, 39%, 59%);
  font-size: 0.9rem;
}
.pseudo-link {
  color: hsl(240, 100%, 50%);
}
/* Form invalid field */
.form-invalid-field {
  border: hsl(0, 75%, 47%) solid 0.2rem;
  border-radius: 0.3rem;
}
/* Form valid field. Dont touch */
.table-name-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  padding-bottom: 0.2rem;
}
.table {
  border: 0.1rem solid hsl(0, 0%, 0%);
  padding: 0.4rem;
  border-collapse: collapse;
}
.table-cells-header {
  border: 0.1rem solid hsl(0, 0%, 0%);
  padding: 0.4rem;
  background: hsl(240, 100%, 50%);
  color: hsl(0, 0%, 100%);
}
.table-row:nth-child(odd) {
  border: 0.1rem solid hsl(0, 0%, 0%);
  padding: 0.4rem;
  background: hsl(231, 91.9%, 43.3%);
  color: hsl(0, 0%, 100%);
}
.table-row:nth-child(even) {
  border: 0.1rem solid hsl(0, 0%, 0%);
  padding: 0.4rem;
  background: hsl(215, 66%, 50%);
  color: hsl(0, 0%, 100%);
}
.table-cells {
  border: 0.1rem solid hsl(0, 0%, 0%);
  padding: 0.4rem;
}
.table-actions-cells {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.4rem 1rem 0.4rem;
}
.table-close-button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
}
/* Colors */
/* Main Container */
.popup-text-input-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  border: 0.3rem solid hsl(180, 97%, 50%);
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.4rem;
}
/* Extends the input field to the end of the container */
.popup-input {
  width: 96%;
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}
/*# sourceMappingURL=popupInputText.css.map */