@import "../common";

@confirmation-window-width: 15rem;
@confirmation-window-height: 10rem;

.popup-yes-no-content {
  .mixin-flex-vertically-and-horizontally-centered();
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;

  border: @border-width-thick @border-type-common aqua;
  border-radius: @border-radius-normal;
  width: @confirmation-window-width;
  height: @confirmation-window-height;
  background-color: white;
}

