@import "../common";


.popup-text-input-content {
  .mixin-flex-vertically-and-horizontally-centered();
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;

  border: @border-width-thick @border-type-common hsla(52, 81%, 48%, 0.5);
  border-radius: @border-radius-normal;
  background-color: hsl(0, 0%, 100%);

  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.4rem;
}

.popup-input-title {
  text-align: center;
  font-weight: bold;
}

.popup-input-info-text {
  width: 98%;
}

.popup-input-and-button-conteiner {
  display: flex;
}

.popup-input-button-ok {
  margin-left: auto;
}