@import "../common";

@popup-lower-background-color: hsla(0, 0%, 10%, 0.8);;

@popup-centering-the-form-horizontally-lower: 100vw;
@popup-centering-the-form-horizontally-upper: 100vw;
@popup-centering-the-form-vertically-lower: 100vh;
@popup-centering-the-form-vertically-upper: 100vh;

@popup-zIndex-lower: 1000;
@popup-zIndex-upper: 2000;

/* Lower layer */
.popup-lower-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: @popup-centering-the-form-horizontally-lower;
  height: @popup-centering-the-form-vertically-lower;
  z-index: @popup-zIndex-lower;
  background: @popup-lower-background-color;
}

/* Upper layer */
.popup-upper-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: @popup-centering-the-form-horizontally-upper;
  height: @popup-centering-the-form-vertically-upper;
  z-index: @popup-zIndex-upper;
}

/* Popup itsef */
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}
 /* Popup title */
.popup-title {
  text-align: center;
  font-weight: @font-boldness-bold;
  font-size: @text-size-smaller;
}

/* Used to indent buttons */
.popup-text-info-padding {
  padding: @padding-micro;
}

/* Button separation */
.popup-actions-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}