/* Colors */

/* Text colors */
@color-text-not-important: hsl(0, 0%, 56%);
@color-text-not-important-hovered-link: hsl(219, 39%, 59%);
@color-text-inverted: hsl(0, 0%, 100%);
@alert-color: hsl(0, 75%, 47%);
@standart-backgraund-color: hsl(0, 0%, 100%);

/* Link colors */
@color-link-hover-visited: hsl(240, 100%, 50%);
@color-link-hover: hsl(240, 100%, 50%);
@color-link-hover-active: hsl(240, 100%, 50%);
@color-link-active: hsl(10, 75%, 47%);

@color-pseudolink: hsl(240, 100%, 50%);
@color-pseudolink-active: hsl(10, 75%, 47%);

/* Table colors */
@table-color-borders: hsl(179, 0%, 0%);
@table-header-color: hsl(240, 100%, 50%);
@table-color-background-odd: hsl(231, 91.9%, 43.3%);
@table-color-background-even: hsl(215, 66%, 50%);

/* Text size */
@text-size-smallest: 0.9rem;
@text-size-smaller: 1.2rem;
@text-size-medium: 1.5rem;

@header-text-size: 1.3rem;

/* Text boldness */

@font-boldness-bold: bold;

/* Margins */

@margin-micro: 0.1rem;
@margin-small: 0.2rem;
@margin-normal: 0.5rem;
@margin-medium: 1rem;

/*
@margin-large: ;
@margin-xlarge: ;
@margin-xxlarge: ;
@margin-xxxlarge: ;
@margin-huge: ;
@margin-xxhuge: ;
@margin-max: ;*/

/* End margins */


/* Paddings */
@padding-micro: 0.1rem;
@padding-smaller: 0.2rem;
@padding-small: 0.4rem;
@padding-normal: 0.5rem;
@padding-medium: 1rem;

/* End paddings */


/* Borders */

@border-type-common-solid: solid;

@border-type-common-dotted: dotted;

@border-radius-smaller: 0.1rem;

@border-width-thick: 0.3rem;

@border-radius-normal: 0.5rem;

@border-radius-big: 1rem;

@border-alert: 0.2rem;

/* End borders */

/* Gaps */

@gap-smaller: 0.3rem;
@gap-small: 0.5rem;
@gap-normal: 0.1rem;

/* End gaps */

/* Images */

@image-size-normal: 1.5rem;

/* Mixins */

/* Centered flex (vertically and horizontally) */
.mixin-flex-vertically-and-horizontally-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mixin for indentation everywhere except the top */
.mixin-padding-small-left-right-bottom {
  padding-left: @padding-small;
  padding-right: @padding-small;
  padding-bottom: @padding-small;
}

.mixin-table-borders {
  border: @border-radius-smaller @border-type-common-solid @table-color-borders;
  padding: @padding-small;
}

/* Centered item */
.flex-vertically-and-horizontally-centered {
  .mixin-flex-vertically-and-horizontally-centered();
}

/* End of mixins */

/* Text centered */
.text-centered {
  text-align: center;
}

/* Container with header */
.link {
  margin-bottom: @margin-small;

  padding-bottom: @padding-smaller;

  color: @color-link-hover;
}

/* Container with header */
.link:visited {
  margin-bottom: @margin-small;

  padding-bottom: @padding-smaller;

  color: @color-link-hover-visited;
}

/* Container with header */
.link:active {
  margin-bottom: @margin-small;

  padding-bottom: @padding-smaller;

  color: @color-link-active;
}

/* link not important */
.link-not-important {
  color: @color-text-not-important;
  font-size: @text-size-smallest;
}

/* link not important:hover */
.link-not-important:hover {
  color: @color-text-not-important-hovered-link;
  font-size: @text-size-smallest;
}

.pseudo-link {
  color: @color-pseudolink;
  text-decoration: underline;
  cursor: pointer;
}

.pseudo-link:active {
  color: @color-pseudolink-active;
  text-decoration: underline;
  cursor: pointer;
}

/* Form invalid field */
.form-invalid-field {
  border: @alert-color @border-type-common-solid @border-alert;
  border-radius: @border-width-thick;
}

/* Form valid field. Dont touch */
.form-valid-field {

}

.table-name-header {
  text-align: center;
  font-weight: @font-boldness-bold;
  font-size: @header-text-size;
  padding-bottom: @padding-smaller;
}

.table {
  .mixin-table-borders();
  border-collapse: collapse;
}

.table-cells-header {
  .mixin-table-borders();
  background: @table-header-color;
  color: @color-text-inverted;
}

.table-row:nth-child(odd) {
  .mixin-table-borders();
  background: @table-color-background-odd;
  color: @color-text-inverted;
}

.table-row:nth-child(even) {
  .mixin-table-borders();
  background: @table-color-background-even;
  color: @color-text-inverted;
}

.table-cells {
  .mixin-table-borders();
}

.table-actions-cells {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: @padding-small @padding-medium @padding-small;
}

.table-close-button {
  width: @image-size-normal;
  height: @image-size-normal;
  border-radius: @image-size-normal;
  cursor: pointer;
}