@import "../shared/common.less";

@admin-panel-images-sizes-table-color-borders: black;
@admin-panel-images-sizes-table-color-background: blue;
@admin-panel-images-sizes-table-color-background-odd: hsl(231, 91.9%, 43.3%);
@admin-panel-images-sizes-table-color-background-even: hsl(215, 66%, 50%);

.mixin-admin-panel-images-sizes-borders {
  border:@border-radius-smaller @border-type-common-solid @admin-panel-images-sizes-table-color-borders;
}

.admin-panel-images-sizes-conteiner {
  display: flex;
  flex-direction: column;
  padding: @padding-normal @paddding-medium @paddding-medium;
}

.admin-panel-images-sizes-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-panel-images-sizes-content {
  border: @border-radius-smaller solid;
  border-radius: @border-radius-smaller;
  padding: @padding-normal;
}

.admin-panel-images-sizes-table {
  .mixin-admin-panel-images-sizes-borders();
  border-collapse: collapse;
}

.admin-panel-images-sizes-table-header {
  .mixin-admin-panel-images-sizes-borders();
  background: @admin-panel-images-sizes-table-color-background;
  color: @color-text;
}

.admin-panel-images-sizes-table-row:nth-child(odd) {
  .mixin-admin-panel-images-sizes-borders();
  background: @admin-panel-images-sizes-table-color-background-odd;
  color: @color-text;
}

.admin-panel-images-sizes-table-row:nth-child(even) {
  .mixin-admin-panel-images-sizes-borders();
  background: @admin-panel-images-sizes-table-color-background-even;
  color: @color-text;
}

.admin-panel-images-sizes-table-cells {
  .mixin-admin-panel-images-sizes-borders();
}
