@import "../shared/common.less";

.admin-Panel-Images-Sizes-conteiner {
  display: flex;
  flex-direction: column;
}

.admin-Panel-Images-Sizes-header {
  display: flex;
  justify-content: center;
  align-items: center;
}