@import "../shared/common.less";

@admin-panel-width: 20rem;
@admin-panel-height: 77vh;

/* Admin panel main container */
.admin-panel-main-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  gap: @gap-small;
}

/* Admin action panel */
.admin-panel-action {
  background: yellow;
  width: @admin-panel-width;
  height: @admin-panel-height;
}

/* Info admin panel */
.admin-panel-info {
  flex: 1;
  background: blue;
  height: @admin-panel-height;
}

/* Admin action panel conteiner */
.admin-panel-action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}