@import "../common.less";
@import "../theme";

/* Footer container */
.footer-container {
  margin-top: @margin-normal;
}

/* Footer version infos container */
.footer-version-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Version info */
.footer-version-info {
  color: @color-text-not-important;
  font-size: @text-size-smallest;
  text-align: center;
}


